.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    border: 0.1rem solid purple;
    background-color: rgb(153, 78, 153);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(145, 78, 145) ;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: purple;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}